#screen{
	width:1000px;
	padding:0;
	margin:auto;
}			
#screen li{
	float:left;
	list-style:none;
}

#screen .jq-ss-crop{
	margin:5px 5px;
	/*border:1px solid #FFFFCC;*/
	float:left;				
}

#left,#right{
	font-weight:bolder;
	font-size:36px;
	margin-top:115px;
	display:block;
	text-decoration:none;
	color:black;
}

#view{
	margin:20px;
	width:850px;
	height:300px;
	/*border:2px white solid;*/
	overflow:hidden;
	/*background-color:gray;*/
}
#images{
	width:3818px !important;
	width:3822px;
	padding:0;
}

#images li img{
	border:0;
}

.imgMiniatura{
	width:200px;
	height:200px;
}
.seta{
	color:gray;
	width:30px;
}
#nome,#preco{
	
}
.nome{
	color:black;
	font-size:15px;
	font-family:sans-serif;
}
.preco{
	font-size:22px;
	background-color:#e14d4d;
	letter-spacing:1.5px;
	color:white;
	font-family:'Oswald';
	border-radius:6px;
	width:103px;
	height:32px;
	text-align:center;
	margin-right:auto;
	margin-left:auto;
}
