#loja{
	width:1001px;
	margin-left:auto;
	margin-right:auto;	
	
}

.hidden{
	display:none;
}

i{
	color:#383838;
}
body{
	width:100%;
	background-color:white;
}
/*pegando o campo de texto que esta dentro da div topo*/
#topo>form{
	float: left;
	width: 400px;
    }
/*importado do google*/
.gsc-control-cse {
    font-family: Arial, sans-serif;
    border-color: transparent !important;
    background-color: transparent;
}
.cse .gsc-control-cse, .gsc-control-cse{
	    background-color: transparent !important;
}
/*seletor esta pegando a div onde a logo esta dentro*/
#topo>div:first-child{
	top:0px;
	left:0px;
    float:left;
}
/*esse seletor esta pegando a imagem da logo do site*/
#topo>div:first-child>img{
	height:80px;
	width:200px;
}
#cad{
	float:right;
	margin-top:-8px;
}
#IMGcarinho{
	height:50px;
	width:50px;
	top:0px;
}
#IMGuser{
	height:30px;
	width:30px;
}
#propagandas{
	height:400px;
}
/*pegando seletores que tem propriedades parecidas*/
#departamentos #sobre #produtos{
	height:170px;
}
#menu>li{
		text-decoration: none;
		color:#383838;
		border:solid;
		border-width:thin;
		width: 101.5px;
		height: 50px;
		text-align:center;
		float: left;
		font-weight:bold;
		font-family:'Oswald', sans-serif;
		letter-spacing:2px;
		border-color:gray;
		border-top-width:0px;
		border-bottom-width:0px;
		border-left-width:0px;
		
	}
#menu{
	width: inherit;
	height: 57px;
	}
li,ul{
	list-style-type:none;
	margin: 0px;
	padding: 0px;
}
li{
	padding: 5px;
}
#contato{
	width:350px;
	margin:auto;
	font-size:12px;
	font-weight: bold;
	color:#FF5500;
	border-color:black;
	font-family:'Oswald';
	letter-spacing:2px;
	background-color:white;
}
#rodape{
	width:1001px;
	height:90px;
	//background-color:#F0DA00;
	font-family:'Hanalei';	
	border:solid;
	border-width:thin;
	border-color:gray;
	border-top-width:2px;
	border-bottom-width:0px;
	border-right-width:0px;
	border-left-width:0px;
	background-color:white;
}

#g{
	height:38px;
	width:38px;
	float:right;
	margin-right:43px;
	//margin-bottom:20px;
}
#face{
	height:38px;
	width:38px;
	float:right;
}
#tw{
	height:38px;
	width:38px;
	float:right;
	margin-right:43px;
}



#menu li:last-child{
	border:solid;
	border-color:gray;
	border-bottom-width:0px;
	border-top-width:0px;
	border-left-width:0px;
	border-right-width:0px;
}

.menuICO{
	height:25px;
	width:25px;
	margin:auto;
	
}
/*pegando o topo e o rodape*/
header,footer{
	width:1000px;
	height:110;
	border:solid;
	border-bottom-width:2px;
	border-top-width:0px;
	border-left-width:0px;
	border-right-width:0px;
	border-color:gray;
	width:100%;
	background-color:white;
}
/*como so o rodape tem border-top ,fiz so essa parte pra ele*/
footer{
	border-bottom-width:0px;
	border-top-width:2px;
	border-left-width:0px;
	border-right-width:0px;
}
header{
	height:110px;
}
#topo{
	width:1000px;
	margin:auto;
}
#menu>li:hover{
	color:#FF5500;
	cursor: pointer;
}
#menu>li:hover .menuICO{
	height: 30px;
	width: 30px;
	
}
.meus-botoes{
	background-color: #FF5500;
	font-weight: bold;
	color:black;
}
#titulos{
	font-weight:bold;
	font-family:'Oswald', sans-serif;
	color:#FF0000;
	font-size:16px;
	
}
