#nomeTela{
	color:black;
	font-size:15px;
	font-family:sans-serif;
}
#precoTela{
	font-size:23px;
	background-color:red ;/*,#FF5500*/
	letter-spacing:1.5px;
	color:white;
	font-family:'Oswald';
	border-radius:6px;
	width:104px;
	text-align:center;
	
}
#descricao{
	float:left;	
}
