* { margin: 0px; padding: 0px; }
 
    body {
        margin: 0 auto;
        background: #f5f5f5;
        background: #f5f5f5;
        color: #555;
        width: 700px; 
	padding:20px;
 
        font-family: 'Yanone Kaffeesatz', arial, sans-serif;
    }
    h1 {
        color: #555;
        margin: 0 0 20px 0;
    }   
 
    label {
        font-size: 20px;
        color: #666;
    }
    #cad {
        float: left;
        border: 1px solid #ddd;
        padding: 20px 30px 10px 30px;
        margin: 55px 0 0 0;
        width: 350px;
        height: 100%;
        background: #fff;
        position: fixed;

 
    }
 
    input:hover {
        background: #ddd;
    }
 
    input.submit {
        width:100%;
  background:#383838;
  border:0;
  padding:4%;
  font-family:'Open Sans',sans-serif;
  font-size:100%;
  color:#fff;
  cursor:pointer;
  transition:background .3s;
  -webkit-transition:background .3s;
   
    } 
 
    input.submit:hover {
        cursor:  pointer;
        background: #FF5500;
    }
    td:nth-child(2) input { 
 
    }